@media (max-width: 768px){

    body{
        overflow-x: hidden;
    }

    .showcase{
        padding: 40px;

        header{
            padding: 40px;
        }
    }

    .text{
        h2{
            font-size: 3em;
        }

        h3{
            font-size: 2em;
        }

    }

    .showcase.active{
        right: 200px;
    }

    .menu{
        width: 200px;

        a{
            font-size: 1.4em;
        }
    }

    section.about{
        padding: 40px;

    }

    .prev, .next{
        top: -40px;
        right: 0px;
    }

    .numberText{
        top: -40px;
        left: 20px;
    }

    .meet{
        display: none;
    }

    .meet2{
        display: flex;
        position: absolute;
        margin-left: 4%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    section.works{
        padding: 40px;
        top: 180vh;
    }

    footer .contact-info{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 40px;
        top: 180vh;

        .copyright{
            left: 38%;
        }

        .upbutton{
            top: 40%;
            right: 40px;
        }
    }

}